# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# JSON files
*.json

# gmin Linux executable
gmin

# gmin credentials JSON file
gmin_credentials

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# VSCode directory
.vscode/

# Dependency directories (remove the comment below to include it)
# vendor/
